  <div class="container">
    <h1 class="text text-center text-primary pt-3" style="font-weight: bold;">Weather App</h1>
    <div class="row">
      <div class="offset-md-4 col-md-4">
        <form [formGroup]="form" novalidate (ngSubmit)="search($event)"> 
          <div class="md-form form-group mt-5">
            <input type="text" class="form-control"  formControlName="country" id="country" placeholder="Country name">
          </div>
          <div *ngIf="countryField.errors && countryField.touched">
            <p *ngIf="countryField.hasError('required')" class="text text-danger">
              This field cannot be blank
            </p>
          </div>
          <div class="md-form form-group mt-5">
           
            <input type="text" class="form-control"  formControlName="city" id="city" placeholder="City name">
          </div>
          <div *ngIf="cityField.errors && cityField.touched">
            <p *ngIf="cityField.hasError('required')" class="text text-danger">
              This field cannot be blank
            </p>
          </div><br>
          <button class="btn btn-light" type="submit">Search</button>
        </form>
          <div *ngIf="weather">
            <div class="d-flex justify-content-md-center"><label>Temperature: </label>{{temperature | number : '1.2-2'}}º C</div>
            <div class="d-flex justify-content-sm-center"><label>Humidity: </label>{{humidity}}%</div>
            <div class="d-flex justify-content-lg-center"><label>Pressure: </label>{{pressure}}hPa</div>
            <div class="d-flex justify-content-xl-center"><label>Max. Temperature: </label>{{temperatureMax | number : '1.2-2'}} º C</div>
            <div class="d-flex justify-content-xl-center"><label>Min. Temperature: </label>{{temperatureMin | number : '1.2-2'}} º C</div>
            <div class="d-flex justify-content-xl-center"><label>Feels like: </label> {{feelsLike | number : '1.2-2'}} º C</div>
            <div class="d-flex justify-content-xl-center"><label>Description: </label> {{description | titlecase }}</div>
          </div>
      </div>
    </div>
  </div>

