<div class="container">
    <div class="row">
      <div class="offset-md-2 col-md-4">
        <img width="180" alt="Angular Logo" src="../assets/image/imagen.png" class="d-flex justify-content-center mx-auto pt-4">
        <h1 class="text text-center text-light pt-3" style="font-weight: bold;">Weather App</h1>
        <form [formGroup]="form" novalidate (ngSubmit)="search($event)"> 
          <div class="md-form form-group mt-5">
            <input type="text" class="form-control"  formControlName="country" id="country" placeholder="Country name">
          </div>
          <div *ngIf="countryField.errors && countryField.touched">
            <small *ngIf="countryField.hasError('required')" class="text text-danger">
              This field cannot be blank
            </small>
          </div>
          <div class="md-form form-group mt-5">
            <input type="text" class="form-control"  formControlName="city" id="city" placeholder="City name">
          </div>
          <div *ngIf="cityField.errors && cityField.touched">
            <small *ngIf="cityField.hasError('required')" class="text text-danger">
              This field cannot be blank
            </small>
          </div><br>
          <button class="btn btn-light" type="submit">Search</button>
        </form>
      </div>
          <div class="col-md-6" *ngIf="weather">
            <br><br><br><br><br><br><br>
            <h1 class="py-3 text text-center text-light" style="font-weight: bold;">Weather Information</h1>
            <div class="d-flex justify-content-md-center text text-light"><label>Temperature: {{temperature | number : '1.2-2'}}º C</label>
            </div>
            <div class="d-flex justify-content-sm-center text text-light"><label>Humidity: {{humidity}}%</label>
            </div>
            <div class="d-flex justify-content-lg-center text text-light"><label>Pressure: {{pressure}}hPa</label>
            </div>
            <div class="d-flex justify-content-xl-center text text-light"><label>Max. Temperature: {{temperatureMax | number : '1.2-2'}} º C</label>
            </div>
            <div class="d-flex justify-content-xl-center text text-light"><label>Min. Temperature: {{temperatureMin | number : '1.2-2'}} º C</label>
            </div>
            <div class="d-flex justify-content-xl-center text text-light"><label>Feels like:   {{feelsLike | number : '1.2-2'}} º C</label> 
            </div>
            <div class="d-flex justify-content-xl-center text text-light"><label>Description: {{description | titlecase }}</label> 
            </div>
          </div>
    </div>
  </div>
  <br>
  <div *ngIf="!weather" class="city text text-center text-light">City: Ashland</div>
  <div *ngIf=" weather" class="city text text-center text-light">City: {{city}}</div>
  <br>
  <div id="map-mapbox"></div>
  <br><br>


